server {
    listen 443 ssl http2;
    server_name devontheroof.top www.devontheroof.top;

    root /var/www/html;
    index index.html index.php;

    include /etc/nginx/ssl.conf;
    ssl_certificate /etc/letsencrypt/live/{{ stack_name }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ stack_name }}/privkey.pem;
    ssl_trusted_certificate /etc/letsencrypt/live/{{ stack_name }}/fullchain.pem;

    location / {
        proxy_pass http://{{ stack_name }}_nginx;
        proxy_set_header Host $http_host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header Connection "";
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}
