---
version: '3.8'

services:
  telegraf:
    image: telegraf:1.21
    hostname: "{{.Node.Hostname}}"
    deploy:
      mode: global
      placement:
        max_replicas_per_node: 1
      restart_policy:
        delay: 10s
    environment:
      HOST_ETC: /hostfs/etc
      HOST_PROC: /hostfs/proc
      HOST_SYS: /hostfs/sys
      HOST_VAR: /hostfs/var
      HOST_RUN: /hostfs/run
      HOST_MOUNT_PREFIX: /hostfs
    volumes:
      - ./files/telegraf.conf:/etc/telegraf/telegraf.conf
      - /:/hostfs:ro
    networks:
      - influxdb

  influxdb:
    image: influxdb:1.8
    secrets:
      - influxdb_database
      - influxdb_admin_username
      - influxdb_admin_password
    environment:
      INFLUXDB_DB_FILE: /run/secrets/influxdb_database
      INFLUXDB_ADMIN_USER_FILE: /run/secrets/influxdb_admin_username
      INFLUXDB_ADMIN_PASSWORD_FILE: /run/secrets/influxdb_admin_password
    volumes:
      - influxdb_data:/var/lib/influxdb
    networks:
      - influxdb

  grafana:
    image: grafana/grafana-oss:8.4.4-ubuntu
    secrets:
      - grafana_username
      - grafana_password
    environment:
      GF_SECURITY_ADMIN_USER__FILE: /run/secrets/grafana_username
      GF_SECURITY_ADMIN_PASSWORD__FILE: /run/secrets/grafana_password
    volumes:
      - grafana_data:/var/lib/grafana
    networks:
      - reverse-proxy
      - influxdb

volumes:
  grafana_data: {}
  influxdb_data: {}

networks:
  reverse-proxy:
    external: true
  influxdb: {}

secrets:
  influxdb_database:
    external: true
  influxdb_admin_username:
    external: true
  influxdb_admin_password:
    external: true
  grafana_username
    external: true
  grafana_password:
    external: true
