---
version: "3.9"

services:

  nginx:
    image: nginx:1.23
    deploy:
      mode: global
      placement:
        max_replicas_per_node: 1
      restart_policy:
        condition: on-failure
    volumes:
      - /etc/ssl/dhparams.pem:/etc/nginx/dhparams.pem
      - /etc/letsencrypt:/etc/letsencrypt
      - /home/{{ non_root_user }}/stacks/{{ stack_name }}:/var/www/certbot
    configs:
      - source: proxy_nginx_settings
        target: /etc/nginx/nginx.conf
        uid: "101"
        gid: "101"
        mode: 0440
      - source: proxy_ssl_settings
        target: /etc/nginx/ssl.conf
        uid: "101"
        gid: "101"
        mode: 0440

    {% for domain in domain_list %}
  - source: {{ domain }}_virtual_host
        target: /etc/nginx/sites-enabled/{{ domain }}.conf
        uid: "101"
        gid: "101"
        mode: 0440
      {% endfor %}

    secrets:
      - source: proxy_dhparams
        target: dhparams.pem
        uid: "101"
        gid: "101"
        mode: 0440
    networks:
      - reverse-proxy
    ports:
      - 80:80
      - 443:443

  certbot:
    image: certbot/certbot
    deploy:
      mode: replicated
      replicas: 0
      restart_policy:
        condition: none
    volumes:
      - /var/lib/letsencrypt:/var/lib/letsencrypt
      - /etc/letsencrypt:/etc/letsencrypt
      - /home/{{ non_root_user }}/stacks/{{ stack_name }}:/var/www/certbot
    labels:
      - swarm.cronjob.enable=true
      - swarm.cronjob.schedule=CRON_TZ={{ timezone }} 30 6 15 * *
      - swarm.cronjob.skip-running=false
    command: certbot certonly -w /var/www/certbot {{ certbot_domain_params }}

networks:
  reverse-proxy:
    external: true

configs:
  proxy_nginx_settings:
    external: true
  proxy_ssl_settings:
    external: true
{% for domain in domain_list %}
  {{ domain }}_virtual_host:
    external: true
{% endfor %}

secrets:
  proxy_dhparams:
    external: true
