version: '3.8'

services:

  frontend:
    image: folious/bitbudget-client
    deploy:
      restart_policy:
        condition: on-failure
        max_attempts: 3
        delay: 10s
        window: 60s
    configs:
      - source: {{ stack_name }}_nginx_settings
        target: /etc/nginx/nginx.conf
        uid: '101'
        gid: '101'
        mode: 0400
    networks:
      - reverse-proxy
      - frontend

  backend:
    image: folious/bitbudget-server
    deploy:
      restart_policy:
        condition: on-failure
        max_attempts: 3
        delay: 10s
        window: 60s
    secrets:
      - {{ stack_name }}_mongodb_name
      - {{ stack_name }}_mongodb_user
      - {{ stack_name }}_mongodb_password
      - {{ stack_name }}_jwt_secret
      - {{ stack_name }}_jwt_expire
    environment:
      MONGODB_NAME_FILE: /run/secrets/{{ stack_name }}_mongodb_name
      MONGODB_USER_FILE: /run/secrets/{{ stack_name }}_mongodb_user
      MONGODB_PASSWORD_FILE: /run/secrets/{{ stack_name }}_mongodb_password
      JWT_SECRET_FILE: /run/secrets/jwt_secret
      JWT_EXPIRE_FILE: /run/secrets/jwt_expire

  db:
    image: mongo:5
    volumes:
      - db_data:/data/db
    networks:
      - backend
    secrets:
      - {{ stack_name }}_mongodb_name
      - {{ stack_name }}_mongodb_user
      - {{ stack_name }}_mongodb_password
    environment:
      MONGO_INITDB_DATABASE_FILE: /run/secrets/{{ stack_name }}_mongodb_name
      MONGO_INITDB_ROOT_USERNAME_FILE: /run/secrets/{{ stack_name }}_mongodb_user
      MONGO_INITDB_ROOT_PASSWORD_FILE: /run/secrets/{{ stack_name }}_mongodb_password

volumes:
  db_data: {}

networks:
  frontend: {}
  backend: {}
  reverse-proxy:
    external: true

secrets:
{% for key, value in credentials.items() %}
  {{ stack_name }}_{{ key }}:
    external: true
    name: {{ stack_name }}_{{ key }}-{{ value | hash('sha1') | truncate(12, True, '') }}
{% endfor %}


configs:
  {{ stack_name }}_nginx_settings:
    external: true
    name: {{ stack_name }}_nginx_settings-{{ lookup('file', 'nginx.conf') | hash('sha1') | truncate(12, True, '') }}
